body{
    background-color: whitesmoke;
    text-align: center;
}
.poster {
        width: 200px;
        height: auto;
        margin: 10px;
    }
.jumbotron{
    /* background-image: url("jumbo1.jpg"); */
    opacity: 0.8;
    text-align: center;
    background-color:whitesmoke;
}

.navbar{
    background-image: url("nav.jpg");
}

#info{
    color:	black;
} 

h5{
    color: red;
    text-align: center;
    margin-top: 0;
    
}

.movieCard{
    cursor: pointer;
}

#modalBody{
    text-align: justify;
}

#searchBtn{
    background-color: black;
}

.results{
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 10px;
    min-height: 200px;

} 

.ion-ios-search{
    color:white;
    display: inline-block;
    font-size: 20px;
    line-height: 1; 
    margin-top:4px;
    margin-left: 5px;
}

